<h2>About</h2>

<p>An app for the runnning enthusiast that provides a user-friendly summary of your personal best times.
Please note that this app is currently set up to only retreive a user's past 100 activities.
For more information, visit <a href="https://github.com/ajshopov/run-strava-run">Github</a>.</p>

<a href="/home">GO BACK</a>