<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
</head>
<body>
<table id="example" class="display" cellspacing="0">

</table>

  <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous">
  </script>

  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
  </script>

  <script>
  var allRuns = <%- JSON.stringify(allRuns) %>
  console.log(allRuns)
  $(document).ready(function() {
    $('#example').DataTable({
      data: allRuns,
      columns: [
        {title: "ID"},
        {title: "400m","defaultContent": ""},
        {title: "1/2mil","defaultContent": ""},
        {title: "1km","defaultContent": ""},
        {title: "1mil","defaultContent": ""},
        {title: "2mil","defaultContent": ""}
      ]
    });
  });
  </script>

</body>
</html>
