<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Running Man</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  
  <div class="wrapper">

    <div class="content">
    <%- body %>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="center">
            <h5 class="white-text">Links</h5>
            <a class="grey-text text-lighten-3" href="https://github.com/ajshopov/run-strava-run">Github</a> | <a class="grey-text text-lighten-3" href="http://strava.com/">Visit Strava</a> | <a class="grey-text text-lighten-3" href="#!">About</a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center">
        © 2018 Created by Alex Shopov
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
      </div>
    </footer>
  </div>

  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous">
  </script>
  <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>