
<div class="splash-container">
  <p>An app for the runnning enthusiast that provides a user-friendly summary of your personal best times.</p>
  <img id="strava-logo" src="/images/api_logo_pwrdBy_strava_horiz_white.png" alt="">
</div>
