<div class="splash-container">
  <div class="splash">
    <h1>Running Man</h1>
    <p>An app for the runnning enthusiast that provides a user-friendly summary of your personal best times.</p>
    <p>Powered by Strava</p>
    <a id="strava-connect" href="/auth/strava"></a>
  </div>
</div>
