<nav>
    <div class="nav-wrapper white">
      <img class="runman-logo" src="/images/runman-logo.png" alt="">
      <ul id="nav-mobile" class="right">
        <a id="strava-connect" href="/auth/strava">
          <img src="/images/btn_strava_connectwith_orange@2x.png" alt="">
        </a>
      </ul>
    </div>
  </nav>

<div class="splash-container">
  <img id="strava-logo" src="/images/api_logo_pwrdBy_strava_horiz_white.png" alt="">
<!--   <div class="splash">
    <h1>Running Man</h1>
    <p>An app for the runnning enthusiast that provides a user-friendly summary of your personal best times.</p>
    <p>Powered by Strava</p>
    <a id="strava-connect" href="/auth/strava"></a>
  </div> -->
</div>
