<h1>run strava run</h1>
<p>description text</p>

<a href="/auth/strava">connect to strava</a>



<script>
  // $('button').click(function(){
  //   console.log('clicked')
    // let options = {
    //   body: {
    //     client_id: 23601,
    //     redirect_uri: 'http://localhost/',
    //     response_type: 'code',
    //     approval_prompt: 'force'
    //   },
    //   method: "GET",
    //   mode: 'cors',
    //   headers: {'Content-type': 'application/json'},
    //   credentials: 'same-origin'
    // }

    // fetch('https://www.strava.com/oauth/authorize', options)
    //   .then(res => res.json())
    //   .then(res => console.log(res))
    
  // })
</script>