html{
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  /*height: 100%;*/
}

main {
  flex: 1 0 auto;
}

.wrapper {
  min-height: 100%
}
.content {
  min-height: 100%;
}
.page-footer{
  padding-top: 0px;
  /*position: absolute;*/
  bottom: 0;
  right: 0;
  left: 0;
}

.profile-pic {
  width: 70%;
  border-radius: 50%;
}

.home-header{
  text-align: center;
}

.runman-logo{
  height: 100%;
  margin-left: 3%;
}

#strava-logo{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
}

.splash-container{
  height: 90vh;
  position: relative;
  text-align: center;
  background-image: url(/images/lucas-favre-335248-unsplash.jpg);
  background-size: cover;
}

.splash-container > p{
  margin: 0;
  padding-top: 10px;
  color: #fafafa;
  font-size: 1.2em;
}

#nav-mobile{
  height: inherit;
}

#strava-connect{
  height: inherit;
}

#strava-connect > img {
  height: inherit;
}

#example_length{
  display: block;
}