body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.page-footer {
  padding: 0px;
}

.profile-pic {
  width: 80%;
  border-radius: 50%;
}

.home-header{
  text-align: center;
}

.runman-logo{
  height: 62px;
  margin-left: 5%;
  margin-bottom: 1px;
  margin-top: 1px;
}

#strava-logo{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
}

.splash-container{
  flex: 1;
  position: relative;
  text-align: center;
  background-image: url(/images/lucas-favre-335248-unsplash.jpg);
  background-size: cover;
}

.splash-container > p{
  margin: 0;
  padding-top: 10px;
  color: #fafafa;
  font-size: 1.2em;
}

.logo-link {
  height: inherit;
}

#nav-mobile{
  height: inherit;
}

#strava-connect{
  height: inherit;
}

#strava-connect > img {
  height: inherit;
}

#example_length{
  display: block;
}